#map {
    width: 100%;
}

#map[class="fullScreen"] {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#map-exit {
    position: absolute;
    bottom: clamp(.5em, 1vw, 1em);
    right: clamp(.5em, 2vw, 1em);
    padding: .25em;
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    z-index: 50;
}

#map-exit:hover {
    cursor: pointer;
}